<h1>Edit</h1>
<form action="create">
  title:<input type="text" name="name" ><br>
  section:<input type="text" name="section" ><br>
  room:<input type="text" name="room" ><br>
  instructor:<input type="text" name="instructor"><br>
  <input type="submit" name="submit">
</form>
<a href="http://localhost:3000">Index</a>