<h1>Classes data</h1>
<a href="cse_class/delete_all">Delete all</a>
<a href="cse_class/edit_page">Edit</a>
<a href="cse_class/scrape">Scrape</a>
<table>
  <tr>
    <th>Title</th>
    <th>Section</th>
    <th>Room</th>
    <th>Instructor</th>
  </tr>
  <% @classes.each do |c| %>
    <tr>
      <th><%= c.name %></th>
      <th><%= c.section %></th>
      <th><%= c.room %></th>
      <th><%= c.instructor %></th>
    </tr>
  <% end %>
</table>
